# In all text files, convert CRLF (Windows EOL) to LF (*nix EOL)
# Trusts git to determine whether a file is text or binary
# http://timclem.wordpress.com/2012/03/01/mind-the-end-of-your-line/
* text=auto