# .inputrc maps keys to commands

# Much below taken from 
# https://github.com/mathiasbynens/dotfiles/blob/master/.inputrc

# Allow UTF-8 input and output, instead of showing stuff like $'\0123\0456'
set input-meta on
set output-meta on
set convert-meta off

# Make Tab autocomplete regardless of filename case
set completion-ignore-case on

# List all matches in case multiple possible completions are possible
set show-all-if-ambiguous on

# Add a trailing slash when autocompleting symlinks to directories
set mark-symlinked-directories on

# PgUp and PgDn use text already typed as the prefix for searching command history
"\e[5~": history-search-forward
"\e[6~": history-search-backward

# Shift+Tab to go through autocompletion matches 
"\e[Z": menu-complete

# Alt+← and Alt+→ to move between words
"\e\e[C": forward-word
"\e\e[D": backward-word

# Would be nice if it worked in bash 3.2
# Be more intelligent when autocompleting by also looking at the text after
# the cursor.
set skip-completed-text on