#!/bin/bash
# Bash aliases

# `cd` directory navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias ~='cd $HOME'

# `ls` directory listing
LS_COMMON_OPTIONS="--human-readable --color=auto"
alias l="ls ${LS_COMMON_OPTIONS}"
alias la="ls --almost-all ${LS_COMMON_OPTIONS}"
alias ll="ls -l ${LS_COMMON_OPTIONS}"
alias lla="ls -l --almost-all ${LS_COMMON_OPTIONS}"

# Exclude directory listing aliases from the command history
export HISTIGNORE="l:l *:la:la *:ll:ll *:lla:lla *:$HISTIGNORE"